{% extends 'base.html' %}
{% block title %}
 Home
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='homepage_style.css')}}">
<section class="navbar">
  <div class="navdiv">
    <nav class="nav_nav">
      <ul class="nav_list">
        <li><p class="logo">Myapp</p></li>
        <li><a href="{{url_for('home_page')}}">Home</a></li>
        <li><a href="{{url_for('user')}}">Profile</a></li>
        <li><a href="{{url_for('login_page')}}">Login</a></li>
        <li><a href="{{url_for('sign_up')}}">Sign-up</a></li>
        <li><a href="{{url_for('main_page')}}">Main</a></li>
        <li><a><i class="uil uil-bars"></i></a></li>
      </ul>
    </nav>
  </div>
</section>



  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
{% endblock %}